---
prefix: office.floor4.kitchen
user: foo@bar.com
token: 'sometoken'

api:
	url: 'http://neki.com'

slack:
    webhook: 'https://hooks.slack.com/services/TXXXXXX/XXXXXX/xxxxxxx'
    channel: '#general'
    botname: 'CO2bot'
    icon: ':monkey_face:'
    upper_threshold: 800
    lower_threshold: 600
